@{
    ViewData["Title"] = "Nosotros";
}

<link rel="stylesheet" href="~/css/card.css" />

<div class="container">   
   <div class="jumbotron containers">
       <div class="container mb-5">

        <!-- Introducción Nosotros --> 
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Nosotros</h1>
          </div>
        </div> 

        <div class="row">
          <div class="col-md-12">
            <img src="~/imagen/nosotros.jpg" class="img-fluid" style="width:1525px">
            <p class="mt-2">
             Somos una empresa de servicios de traducción e interpretación líder en República Dominicana. Ofrecemos servicios profesionales tanto para traducción de contenido escrito como servicios de interpretación simultánea y consecutiva.
          </div>
        </div>      
        
        <!-- Objetivo, Misión y Visión --> 
        <div class="row">
          <div class="col-md-4">
            <img src="~/imagen/objetivo.png" class="img-fluid">
            <h4 class="text-center">Objetivo</h4>
            <p>
                <ul>
                    <li>Responsabilidad social.</li>
                    <li>Organización multicultural.</li>
                    <li>Empleador de primera elección.</li>
                    <li>Satisfacción del cliente con los servicios.</li>
                </ul>             
            </p>
          </div>          
          <div class="col-md-4">
            <img src="~/imagen/mision.png" class="img-fluid">
            <h4 class="text-center">Misión</h4>
            <p>
              Seguir siendo la principal herramienta de comunicación en los idiomas para nuestros clientes a través de nuestros profesionales de las traducciones e interpretaciones.
            </p>
          </div>          
          <div class="col-md-4">    
            <img src="~/imagen/vision.png" class="img-fluid">  
            <h4 class="text-center">Visión</h4>
            <p>
              Ser la empresa de traducciones e interpretaciones más eficiente, donde nuestros clientes adquieran las soluciones a sus necesidades de Idiomas.
          </div>          
        </div>
      </div>
   </div>
</div>