
@{
    ViewData["Title"] = "Alquiler de equipos";
}

<link rel="stylesheet" href="~/css/card.css" />
<link rel="stylesheet" href="~/css/galeria.css" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>


<style>
.video-responsive {
position: relative;
padding-bottom: 43.25%; /* 16/9 ratio */
padding-top: 30px; /* IE6 workaround*/
height: 0;
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
</style>
<div class="container">   

   <div class="jumbotron containers">
       <h3 style="text-align:center; font-weight:bold">Servicio de Interpretación simultánea en eventos</h3>
       <br />
   <div class="parrafo">
       <img src="~/imagen/galeria/6.jpg" class="responsive">
        <p>En Hermes Traducciones 
            estamos formados por 
            profesionales nacionales e 
            internacionales especializados 
            en interpretación simultánea 
            consecutiva, para todo tipo de 
            eventos, encuentros nacionales 
            e internacionales, conferencias, 
            talleres de capacitación.
            </p>
        <p>
            Además, ofrecemos todo que tienes como interpretación, equipo de sonido y audiovisual.
       </p>
       <p>
           Hermes Traducciones garantiza la profesionalidad de los servicios, gracias a un riguroso 
            proceso de admisión, que avala la calidad interpretativa de todos sus intérpretes y 
            traductores.
       </p>
       <p>
           Sobre todo, un estricto código ético y profesional que garantiza la confidencialidad, la 
            rendición de cuentas y la ética frente al cliente.
       </p>

        <br />
        <br />
        <br />
        <br />
        <br />
        <h5 style="font-weight:bold">Idiomas disponibles:</h5>

        <ul>
           <li>Ingles</li>
           <li>Francés</li>
           <li>Italiano</li>
           <li>Árabe</li>
           <li>Portugués</li>
        </ul>
        <br />
        <p>
            Brindamos nuestros servicios en Santo Domingo, La Romana, Bávaro, Punta Cana y el 
            resto del país
        </p>
        <br />
        <hr />
        <h3 style="font-weight:bold">Videos</h3>
        <div class="container">
            <pre>
                <div class="row">
                 <div class="col-lg-6 col-xs-12 video-responsive">
                     <iframe src="https://www.youtube.com/embed/IgnjIwST360" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
                 <div class="col-lg-6 col-xs-12 video-responsive">
                     <iframe src="https://www.youtube.com/embed/q111B85YXL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                 </div>
                 <div class="col-lg-6 col-xs-12 video-responsive" style="margin-top:3px">
                    <iframe  src="https://www.youtube.com/embed/y9zxAIfTsjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                </div>
                
            </pre>
            
        </div>
        <br />
        <hr />
        <h3 style="font-weight:bold">Galería</h3>
        <div class="container">
	
        <div class="feature">
            <figure class="featured-item image-holder r-3-2 transition"></figure>
        </div>
        
        <div class="gallery-wrapper">
            <div class="gallery">
                <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 active transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 active transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 active transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 active transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
                    <div class="item-wrapper">
                        <figure class="gallery-item image-holder r-3-2 transition"></figure>
                    </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6">
                <button class="move-btn left"><i class="fa-solid fa-arrow-left"></i></button>
            </div>
            <div class="col-6">
                <button class="move-btn right"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </div>
            
            
        
        
    </div>
   </div>
 </div>

</div>

<script src="~/js/galeria.js"></script>
