
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #078EEC;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background: linear-gradient(45deg, #078EEC, lightgreen);
    border-bottom: 1px solid rgba(0,0,0,.125);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    text-align:center;
}

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background: linear-gradient(45deg, #078EEC, lightgreen);
}




table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 800px;
    margin: 0px auto;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #078EEC;
}

td:nth-child(n + 3),
th:nth-child(n + 3) {
    text-align: center;
}

tbody tr:hover {
    background-color: aquamarine;
}

thead {
    background: linear-gradient(45deg, #078EEC, lightgreen);
    color: white;
}

.text-center {
    text-align: center;
}

@media screen and (max-width: 920px) {
    table {
        width: 100%;
    }

        /* Ocultar edad */
        table tr th:nth-child(4),
        table tr td:nth-child(4) {
            display: none;
        }

        /* Ocultar email */
        table tr th:nth-child(3),
        table tr td:nth-child(3) {
            display: none;
        }

        /* Ocultar impuestos */
        table tr th:nth-child(9),
        table tr td:nth-child(9) {
            display: none;
        }
}

@media screen and (max-width: 767px) {
    /* Ocultar apellidos */
    table tr th:nth-child(2),
    table tr td:nth-child(2) {
        display: none;
    }

    /* Ocultar nómina */
    table tr th:nth-child(5),
    table tr td:nth-child(5) {
        display: none;
    }
}
